.example {
	display: table;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1.5em;
}

.example .header {
	display: table-row;
	font-weight: bold;
}

.example .header span {
	color: #666;
	display: table-cell;
	padding: 0.5em 0.9em;
	width: 50%;
	border-bottom: solid 1px #eee;
}

.example app-demo-row {
	display: table-row;
}